
// COLOR
$colorOrange:#E64B2F;
$colorGreen:#284D57;
$colorPink:#FFF8F2;
$colorBoz:#EEECE3;
$colorWhite:#E5E6EB;
$colorBlack:#5B5653;
$color463F3C:#463F3C;
$colorred:red;
$colorDCDCD8:#DCDCD8;
$colorFFF:#ffffff;



// MARGIN & PADDING
$m1:1rem;
$m2:2rem;
$m3:3rem;
$m4:4rem;
$m5:5rem;
$p1:1rem;
$p2:2rem;
$p3:3rem;
$p4:4rem;